{% extends "data_search_base.html" %}
{% block info %}

<div class="card-container"> 

<div class="card data-search-card mx-auto"> 
	<div class="progress">
	  <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<div class="card-block">
		<h4 class="card-title">What Are you Doing with Your Data?</h4>
		 <p align="justify" class="card-text">

		 "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
		 </p>

		<form action="{% url 'home' %}" method="POST"> {% csrf_token %}
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" name='hey' id="check1">
			  <label class="form-check-label" for="check1">
				Action 1 
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="check2">
			  <label class="form-check-label" for="check2">
				Action 2 
			  </label>
			</div>
			<div class="form-check">
			  <input class="form-check-input" type="checkbox" value="" id="check3">
			  <label class="form-check-label" for="check3">
				Action 3 
			</label>
			</div>
			<a class="btn btn-outline-secondary js-scroll-trigger btn-lg" href="{% url 'form2'%}">Next</a>
		</form>


	   <!--  <form action="{% url 'data_vis' %}" method="POST"> {% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="save btn btn-default">Search</button>
		</form>
	</div>
</div>
{% endblock %}